* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  user-select: none;
}
html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
body {
  background: url(images/bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", "Calibri", Arial, Helvetica, sans-serif;
}

button {
  font-family: "Open Sans", "Calibri", Arial, Helvetica, sans-serif;
}
.content {
  height: 100%;
  max-width: 480px;
  width: 100%;
  display: flex;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.stage1 {
  background: url(images/capa2.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  display: flex;
  /*display: none;*/
}
.logo {
  z-index: 3;
  width: 30%;
}
.positionBtn {
  position: absolute;
  z-index: 2;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  justify-content: flex-start;
  left: 0;
  bottom: 0;
  height: 45%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
  gap: 20px;
}
.start-button,
.btnFim {
  background-color: rgb(0, 102, 255);
  text-shadow: rgb(0, 102, 255) 0px 1px 2px;
  display: flex;
  border-radius: 8px;
  border: solid 2px rgb(0, 102, 255);
  box-shadow: 0 0 25px rgb(0, 102, 255);
  animation: shine 1.5s infinite;
  transition: all;
}
.start-button-inner,
.btnFim-inner {
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 100%, 0.5),
    hsla(0, 0%, 100%, 0)
  );
  background-origin: border-box;
  border: 0.87px solid hsla(0, 0%, 100%, 0.4);
  border-radius: 6px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 800;
  padding: 0.4rem 3rem;
  cursor: pointer;
}
@keyframes shine {
  0% {
    box-shadow: 0 0 25px rgb(0, 102, 255);
  }
  50% {
    box-shadow: 0 0 5px rgb(0, 102, 255), 0 0 25px rgb(0, 102, 255),
      0 0 50px rgb(0, 102, 255), 0 0 100px rgb(0, 102, 255);
  }
  100% {
    box-shadow: 0 0 25px rgb(0, 102, 255);
  }
}

.stage2 {
  display: block;
  opacity: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #670d0d;
  width: 100%;
  height: 100vh;
  max-width: 570px;
  overflow: hidden;
  max-width: 0px;
  max-height: 0px;
}
.video {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20%;
  object-fit: cover;
  object-position: center bottom;
  margin-bottom: -4px;
  z-index: 0;
}
.sorterSpace,
.marquee,
.total,
.footer {
  background-image: url(images/roll.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  width: 100%;
  aspect-ratio: 533 / 439;
  display: block;
  /*z-index: 2;*/
}
.marquee {
  background-image: url(images/marquee.webp);
  aspect-ratio: 570 / 101;
  font-family: "Caveat Brush", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 1.7rem;
  line-height: 1rem;
}
.allmarquee {
  overflow: hidden;
  height: 97%;
}
.total {
  background-image: url(images/total.webp);
  aspect-ratio: 570 / 61;
  display: flex;
  gap: 5px;
  padding: 0 1.5%;
}
.total .input {
  width: 33%;
  height: 100%;
  border: none;
  background: transparent;
  color: #62d9ad;
  text-align: center;
  font-size: 1.2rem;
  line-height: 0.7rem;
  display: flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  padding-left: 5%;
}

.marqueeSpace {
  width: calc(100% - 16%);
  height: 82%;
  overflow: hidden;
  white-space: nowrap;
  padding: 10px 0 4px 0;
  left: 8%;
  display: flex;
  align-items: center;
}
.marqueeSpace span {
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 100%;
  animation: marquee 8s linear infinite;
  background: -webkit-linear-gradient(#c1fbec, #348055);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  height: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  filter: drop-shadow(-1px 0px 0px #fff) drop-shadow(0 2px 0px #2b3c42);
}
@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.footer {
  background-image: url(images/footer.webp);
  aspect-ratio: 570 / 332;
  width: 100%;
  height: 24%;
  background-size: cover;
  display: block;
  text-align: center;
  padding-top: 2%;
  padding-left: 0.2%;
  position: relative;
}

.stars {
  position: absolute;
  width: 50%;
  left: 25%;
  height: 100%;
  max-height: 130px;
  top: 0;
  z-index: 0;
  pointer-events: none;
  background: url(images/stars.webm);
  mix-blend-mode: color-dodge;
  filter: contrast(1.4);
  opacity: 0;
}
.stars.anim {
  animation: sonarStars 1s 2 linear;
}
@keyframes sonarStars {
  from {
    opacity: 1;
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
    opacity: 0;
  }
}

.spin {
  border-radius: 50%;
  background: red;
  border: none;
  width: 19%;
  aspect-ratio: 1;
  background-image: url(images/btnspin.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: all 0.5s;
  position: relative;
  z-index: 3;
  margin-left: -9.5%;
  left: 50%;
}
.spin::before,
.spin.rotateFaster::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  border-radius: 50%;
  border: solid 2px rgb(255, 221, 0);
  top: -2px;
  left: -2px;
  box-shadow: 0 0 25px 5px rgb(255, 221, 0),
    inset 0 0 25px 5px rgb(255, 231, 78);
  transition: all 0.1s;
  opacity: 0;
}
.spin:hover::before,
.spin.rotateFaster::after {
  opacity: 0;
  animation: sonarWave 1.5s 2 linear;
}
@keyframes sonarWave {
  0% {
    opacity: 0.8;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}

.rotate {
  animation: rotate 3s linear infinite;
}
.rotateFaster {
  animation: rotate 0.28s linear infinite;
  pointer-events: none;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.sorterSpace {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2%;
  padding: 0 6.8% 1.3% 6%;
}
.col {
  overflow: hidden;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 0px 0px rgb(255, 221, 0), inset 0 0 0px 0px rgb(255, 221, 0);
}
.col .els {
  background: url(images/col1.webp);
  width: 100%;
  height: 900%;
  background-size: 98%;
  background-repeat: repeat-y;
  background-position: top;
}
.col .col2 {
  background: url(images/col2.webp);
  background-size: 98%;
  background-repeat: repeat-y;
  background-position: top;
}
.col .col3 {
  background: url(images/col3.webp);
  background-size: 98%;
  background-repeat: repeat-y;
  background-position: top;
}
.shinecol {
  animation: shineCols 0.9s 1 linear;
}
@keyframes shineCols {
  0% {
    box-shadow: 0 0 0px 0px rgba(255, 221, 0, 0.5),
      inset 0 0 0px 0px rgba(255, 221, 0, 0.5);
  }
  50% {
    box-shadow: 0 0 50px 20px rgba(255, 221, 0, 1),
      inset 0 0 5px 2px rgba(255, 221, 0, 1);
  }
  100% {
    box-shadow: 0 0 50px 20px rgba(255, 221, 0, 0),
      inset 0 0 20px 2px rgba(255, 221, 0, 0);
  }
}

@keyframes spin {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

.ganho {
  position: absolute;
  z-index: 3;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  left: 0;
  bottom: 0;
  top: 0;
  height: 100%;
  transition: all 0.5s;
  opacity: 0;
}
.ganho.show {
  opacity: 1;
}
.ganho span,
.positionBtn p,
.contador {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: -webkit-linear-gradient(#fef68b, #f59233);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  height: 100%;
  filter: drop-shadow(1px 0px 0px #fff) drop-shadow(0 2px 0px #b62d42)
    drop-shadow(0 -1px 0px #5f070f) drop-shadow(-1px -1px 0px #5f070f)
    drop-shadow(-1px 1px 0px #5f070f) drop-shadow(-1px 2px 0px #5f070f)
    drop-shadow(1px -1px 0px #5f070f) drop-shadow(1px 1px 0px #5f070f);
  font-size: 2rem;
  letter-spacing: -1.5px;
  position: relative;
  margin-bottom: 4%;
}
.positionBtn p {
  margin: 0;
  padding: 0;
  font-family: "Caveat Brush", cursive;
  font-size: 2.5rem;
  line-height: 2.5rem;
  height: auto;
  padding: 0 5%;
}
.ganho::before {
  content: "";
  position: absolute;
  z-index: -1;
  background: radial-gradient(ellipse at center, #fef68b 0%, #f5913300 65%);
  width: 100%;
  height: 170%;
  animation: shineGanho 0.5s linear infinite;
  transition: all 0.1s;
  transform: scale(1);
}
.speedlight {
  background: url(images/speedlight.webm);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  mix-blend-mode: lighten;
  opacity: 0;
}
@keyframes shineGanho {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.hidden {
  display: none;
}

.ganhoCols {
  opacity: 0;
  transition: all 0.5s ease-in-out;
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  z-index: 3;
  box-shadow: inset 0 0 134px 89px rgb(0 0 0 / 61%),
    0 0 25px 18px rgb(0 0 0 / 61%);
}
.ganhoCols::before,
.line1 {
  content: "";
  width: 80%;
  left: 10%;
  height: 4px;
  position: absolute;
  z-index: -1;
  background-color: #fef68b;
  box-shadow: 0 0 10px 5px rgb(250, 238, 162), 0 0 10px 0px rgb(250, 238, 162);
  animation: linepulse 1.5s ease-in-out infinite;
}
.ganhoCols .laranja img {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 2;
}
.laranja {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: -27px;
  margin-top: -27px;
}
.laranja::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  border-radius: 50%;
  border: solid 1px rgb(250, 238, 162);
  outline: solid 1px rgb(250, 238, 162);
  outline-offset: -13px;
  top: -1px;
  left: -1px;
  box-shadow: 0 0 25px 5px rgb(255, 221, 0),
    inset 0 0 25px 5px rgb(255, 231, 78);
  transition: all 0.1s;
  opacity: 0.8;
  animation: sonarWave2 1.5s infinite linear forwards;
}
#ganhoCols2 {
  opacity: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@keyframes sonarWave2 {
  0% {
    opacity: 0.8;
    transform: scale(0.8);
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes linepulse {
  0% {
    box-shadow: 0 0 10px 5px rgb(250, 238, 162), 0 0 10px 0px rgb(250, 238, 162);
  }
  50% {
    box-shadow: 0 0 20px 5px rgb(250, 238, 162),
      0 0 20px 10px rgb(250, 238, 162);
  }
  100% {
    box-shadow: 0 0 10px 5px rgb(250, 238, 162), 0 0 10px 0px rgb(250, 238, 162);
  }
}

.grandeGanho {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  display: none;
  opacity: 0;
  transition: all 1s ease-in-out;
}
.bgGanho {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  aspect-ratio: 1/1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bgGanho img {
  height: 100%;
  width: auto;
  animation: rotate 120s linear infinite;
  position: absolute;
  opacity: 0.3;
}

.grandeGanho::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  position: absolute;
  z-index: 0;
  background: radial-gradient(
    circle at center,
    rgba(254, 252, 234, 1) 0%,
    rgba(245, 229, 121, 1) 43%,
    rgba(240, 216, 56, 0.56) 68%,
    rgba(240, 216, 56, 0) 100%
  );
  opacity: 0.92;
  animation: pulseAfter 1.5s ease-in-out infinite;
}
@keyframes pulseAfter {
  0% {
    opacity: 0.92;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.92;
  }
}

.circle {
  position: absolute;
  width: 92%;
  left: 4%;
  height: auto;
  aspect-ratio: 1/1;
  background-image: url(images/circle.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 3;
  top: 25%;
  animation: rotate 18s linear infinite;
  opacity: 0.8;
}

.spaceGanho {
  position: absolute;
  top: 22%;
  left: 0;
  z-index: 6;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation: pulseTiger 1.5s ease-in-out infinite;
}
.spaceGanho img {
  width: 95%;
  height: auto;
  margin: 0 auto;
  position: relative;
}
@keyframes pulseTiger {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.98);
  }
  100% {
    transform: scale(1);
  }
}

.contador {
  position: absolute;
  z-index: 6;
  width: 100%;
  height: auto;
  top: 58%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(13.5vw + 0.9rem);
  font-weight: 900;
  font-style: italic;
  letter-spacing: -0.1rem;
  font-family: "Caveat Brush", cursive;
}
.contadorFinal {
  font-size: calc(10.5vw + 0.9rem);
  margin-top: 2%;
}
#megaGanhoImg,
#superMegaGanhoImg {
  display: none;
}

.shake {
  animation: shake 0.3s infinite;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-2px, 0px) rotate(1deg);
  }
  20% {
    transform: translate(2px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-2px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.mixed {
  mix-blend-mode: color-dodge;
}
.explode {
  animation: explosion 0.7s;
}
@keyframes explosion {
  0% {
    filter: brightness(7) contrast(2);
  }
  10% {
    filter: brightness(1) contrast(1);
  }
  20% {
    filter: brightness(7) contrast(2);
  }
  30% {
    filter: brightness(1) contrast(1);
  }
  40% {
    filter: brightness(7) contrast(2);
  }
  100% {
    filter: brightness(1) contrast(1);
  }
}

.pinkBright::after {
  background: radial-gradient(
    circle at center,
    rgba(254, 252, 234, 1) 0%,
    rgb(117, 164, 253) 43%,
    rgba(117, 164, 253, 0.5) 68%,
    rgba(253, 117, 162, 0) 100%
  );
}

.btnFim {
  margin-top: 5px;
  z-index: 9;
  text-decoration: none;
  padding: 0 !important;
  width: 60% !important;
  display: none;
  opacity: 0;
}
.btnFim-inner {
  padding: 15px 0;
  width: 100%;
  text-align: center;
}

.ultimoPremio {
  position: absolute;
  z-index: 6;
  width: 100%;
  height: auto;
  top: 21%;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;

  font-weight: 900;
  font-style: italic;
  letter-spacing: -0.05rem;
  flex-direction: column;
  text-align: center;
  color: #fff;
}
.premioText {
  margin-bottom: 9px;
  font-weight: 900;
  font-size: calc(4vw + 0.4rem);
  line-height: 1.8rem;
  background: -webkit-linear-gradient(#fef68b, #f59233);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  height: 100%;
  filter: drop-shadow(1px 0px 0px #fff) drop-shadow(0 2px 0px #b62d42)
    drop-shadow(0 -1px 0px #5f070f) drop-shadow(-1px -1px 0px #5f070f)
    drop-shadow(-1px 1px 0px #5f070f) drop-shadow(-1px 2px 0px #5f070f)
    drop-shadow(1px -1px 0px #5f070f) drop-shadow(1px 1px 0px #5f070f);
}
.ultimoPremio .start-button {
  background: rgb(218, 176, 50);
  border: solid 1px rgb(218, 176, 50);
  box-shadow: 0 0 25px rgb(175, 141, 37);
  width: 90%;
  margin: 5px 0;
  animation: none;
}
.ultimoPremio a {
  width: 100%;
  text-decoration: none;
  padding: 6px 0px;
  font-size: calc(4vw + 0.32rem);
  height: 100%;
  color: #670d0d;
  text-shadow: 1px 1px 0 rgb(255 255 255 / 20%);
  font-weight: 600;
}
.lastCircle {
  top: 30%;
  opacity: 0.5;
  mix-blend-mode: luminosity;
}
@media screen and (min-width: 480px) {
  .contador {
    font-size: 5rem;
  }
  .contadorFinal {
    font-size: 4.5rem;
  }
  .premioText {
    font-size: 1.8rem;
  }
  .ultimoPremio a {
    font-size: 1.5rem;
  }
}
